* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F2F2;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.root, .container {
  width:100%;
}
.navigation {
  width: 100%;
  background-color: #D96704;
  box-shadow: 0 1px 1px #000;
}
.navigation ul {
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
}
.navigation li {
  display: inline-block;
  padding: 15px;
}
.navigation li:hover {
  background-color: #f28705;
}
.navigation li a {
  color: #FFF;
  text-decoration: none;
}
.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 40vh;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: #A61b1b;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
.hero h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #A61b1b;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 0;
  top: 40%;
  transform: translateY(-50%);
  box-shadow: 0px 2px 0 #f2f2f2;
}
.main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}
p {
  font-size: 1.2rem;
  padding: 20px;
}
a {
  text-decoration: none;
  color: #D96704;
}
a:hover, a:focus, a:active, a:visited {
  color: #f28705;
}
/* Responsive classes */
.col-12, .col-sm-6 {
  position: relative;
  width: 100%;
}
.col-12 {
  -webkit-box-flex:0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
@media screen and (min-width: 648px) {
  .col-sm-6 {
    -webkit-box-flex:0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.btn {
  padding: 10px 15px;
  border: solid 1px #D96704;
  border-radius: 10px;
  background: none;
}
input {
  width: 100%;
  border-radius: 10px;
  border: solid 1px #f28705;
  padding: 10px 15px;
  margin: 10px 0;
}
input:active, input:focus {
  border: solid 1px #D96704;
}
textarea {
  width: 100%;
  border: solid 1px #f28705;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 10px;
}
textarea:focus {
  border: solid 1px #D96704;
}

