* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2EDEB;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.root, .container {
  width:100%;
}
.navigation {
  width: 100%;
  background-color: #732D3F;
  box-shadow: 0 2px 2px #000;
}
.navigation ul {
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
}
.navigation li {
  display: inline-block;
  padding: 15px;
}
.navigation li:hover {
  background-color: #D9628D;
}
.navigation li a {
  color: #FFF;
  text-decoration: none;
}
.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 40vh;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: #D9628D;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
.hero h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #D9628D;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 0;
  top: 40%;
  transform: translateY(-50%);
  box-shadow: 0px 2px 0 #f2f2f2;
}
p {
  font-size: 1.2rem;
  padding: 20px;
}
a {
  text-decoration: none;
  color: #D9628D;
}
a:hover, a:focus, a:active, a:visited {
  color: #A66F83;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.btn-red-outline {
  padding: 10px 15px;
  border: solid 1px #732D3F;
  border-radius: 10px;
  background: none;
}
input {
  width: 100%;
  border-radius: 10px;
  border: solid 1px #732D3F;
  padding: 10px 15px;
  margin: 10px 0;
}
input:active, input:focus {
  border: solid 1px #D9628D;
}
textarea {
  width: 100%;
  border: solid 1px #732D3F;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 10px;
}
textarea:focus {
  border: solid 1px #D9628D;
}
.recipe-box {
  background-color: #F2D0D7;
  color: #732D3F;
}
.recipe-text {
  border: solid 1px #732D3F;
}
.recipe-image {
  max-height: 300px;
  border: solid 1px #732D3F;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.recipe-page-image {
  border: solid 1px #732D3F;
}
